.base{
   margin-left: 10%;
   margin-top: 5%;
}
div{
    margin-bottom: 5%;
}
.nav-item{
    margin-top: 20%;
}
.team img{
    margin-left: 5%;
}
li{
    margin-bottom: 3%;
}
.list-group{
    margin-top: 5%;
}
.btn{
    margin-left: 3%;
}