ul{
    margin-left: 7%;
    font-family: monospace;
    color: #1D1D1B;
}
.accordion{
    margin-bottom: 5%;
}
h6{
    font-family: monospace;
    font-weight: bold;
    color: #68205F;
    margin-left: 8%;
    margin-top: 5%;
}
a{
    text-decoration: none;
}
a p:hover{
   color: #1A9EDA;
}
.row{
    margin-bottom: 3%; 
    margin-left: 5%;
}
.header{
    margin-left: 10%;
    margin-bottom: 5%;
}
a h2{
    margin-top: 5%;
}
@media screen and (min-width:200px)
{
    .header{
        margin-top: 42%;
    }
}
@media screen and (min-width:700px)
{
    .header{
        margin-top: 13%;
    }
}
button{
    margin-top: 3%;
}
